/MyGame/IndieLib_debug.props
/MyGame/IndieLib_release.props
/MyGame/inventory.h
/MyGame/S_game.cpp
/MyGame/S_inventory.cpp
/MyGame/S_ship.cpp
/MyGame/ship.h
/MyGame/SpaceGame.sdf
/MyGame/SpaceGame.sln
/MyGame/SpaceGame.v12.suo
/MyGame/Debug
/MyGame/Release
/MyGame/SpaceGame/SpaceGame
